*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.canvas > canvas
{
    background-color: black;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.parameters
{
    color: white;
    height: 100%;
    width: 180px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding: 10px;
}

.parameters > button
{
    padding: 2px;
}

.parameters > #branches,#angle,#angle-delta,#length,#width,#width-percent,#length-percent
{
    width: 100%;
}